<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mint/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /mint/index.html [L]
</IfModule>
